#img-perfil{
    width: 150px;
}

#img-stack{
    width: 200px;
}

.bg-primary{
    background-color: #BA7EF7!important;
}

.nav-link{
    color: #471975!important;
}

.text-bg-primary {
    background-color: #BA7EF7!important;
}

.titulo-proyecto{
    text-shadow: 2px 5px 30px #000000;
}

#proyecto-1{
    background-image: url('imagenes/proyecto-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-2{
    background-image: url('unsplash-photo-1.jpg');
}
#proyecto-3{
    background-image: url('unsplash-photo-1.jpg');
}
#proyecto-4{
    background-image: url('unsplash-photo-1.jpg');
}
#proyecto-5{
    background-image: url('unsplash-photo-1.jpg');
}
#proyecto-6{
    background-image: url('unsplash-photo-1.jpg');
}

.carousel-item{
    height: 400px;
}

.carousel-indicators [data-bs-target] {
    background-color: #9433F5;
    height: 5px;
}

.carousel-caption{
    color:black;
}

.icono{
    width: 50px;
    font-size: 2rem;
    color: white;
    margin: 12px;
}

.btn-primary {
    background-color: #9433F5!important;
}

#header{
    background: #BA7EF7!important;
    font-size: 1.2rem;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }